<a href="https://colab.research.google.com/github/4zmyyy/Belajarpyhton/blob/main/Python_Learning_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install numpy pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Membuat Numpy Array
array = np.array([1, 2, 3, 4, 5])
print("Array:", array)

# Operasi matematika
print("Penjumlahan:", array + 2)
print("Perkalian:", array * 2)
print("Rata-rata:", np.mean(array))
print("Standar Deviasi:", np.std(array))

Array: [1 2 3 4 5]
Penjumlahan: [3 4 5 6 7]
Perkalian: [ 2  4  6  8 10]
Rata-rata: 3.0
Standar Deviasi: 1.4142135623730951

In [ ]:
# Membuat Simulasi DataFrame Gaji
data = {
    'Nama': ['Caca', 'Putra', 'Citra'],
    'Umur': [22, 27, 25],
    'Gaji': [3500000, 10000000, 6250000]
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

# Menampilkan kolom tertentu
print("\nKolom Nama:\n", df['Nama'])

# Menambahkan kolom baru
df['Bonus'] = df['Gaji'] * 0.1
print("\nDataFrame dengan Bonus:\n", df)

DataFrame:
     Nama  Umur      Gaji
0   Caca    22   3500000
1  Putra    27  10000000
2  Citra    25   6250000

Kolom Nama:
 0     Caca
1    Putra
2    Citra
Name: Nama, dtype: object

DataFrame dengan Bonus:
     Nama  Umur      Gaji      Bonus
0   Caca    22   3500000   350000.0
1  Putra    27  10000000  1000000.0
2  Citra    25   6250000   625000.0

In [ ]:
# Mini Project: Analisis Data Penjualan
import pandas as pd

# Data penjualan
data = {
    'Produk': ['Laptop', 'Smartphone', 'Tablet'],
    'Penjualan': [150, 300, 100],
    'Harga': [10000000, 5000000, 7000000]
}
df = pd.DataFrame(data)

# Tambahkan kolom Pendapatan
df['Pendapatan'] = df['Penjualan'] * df['Harga']

# Tampilkan hasil
print("Data Penjualan:\n", df)
print("\nPendapatan Total:", df['Pendapatan'].sum())

Data Penjualan:
        Produk  Penjualan     Harga  Pendapatan
0      Laptop        150  10000000  1500000000
1  Smartphone        300   5000000  1500000000
2      Tablet        100   7000000   700000000

Pendapatan Total: 3700000000

In [ ]:
# Proyek Mini: Analisis Penjualan Produk

import pandas as pd

# Data penjualan produk
data = {
    'Produk': ['Laptop', 'Smartphone', 'Tablet', 'Headphone'],
    'Penjualan': [150, 300, 100, 200],
    'Harga': [10000000, 5000000, 7000000, 2000000]
}

# Membuat DataFrame
df = pd.DataFrame(data)

# Menghitung pendapatan untuk setiap produk
df['Pendapatan'] = df['Penjualan'] * df['Harga']

# Menampilkan hasil
print("=== DATA PENJUALAN ===")
print(df)

# Statistik sederhana
total_pendapatan = df['Pendapatan'].sum()
rata_rata_penjualan = df['Penjualan'].mean()
produk_terlaris = df.loc[df['Penjualan'].idxmax()]['Produk']

print("\n=== STATISTIK ===")
print(f"Total Pendapatan: Rp{total_pendapatan:,}")
print(f"Rata-rata Penjualan: {rata_rata_penjualan:.2f} unit")
print(f"Produk Terlaris: {produk_terlaris}")

=== DATA PENJUALAN ===
       Produk  Penjualan     Harga  Pendapatan
0      Laptop        150  10000000  1500000000
1  Smartphone        300   5000000  1500000000
2      Tablet        100   7000000   700000000
3   Headphone        200   2000000   400000000

=== STATISTIK ===
Total Pendapatan: Rp4,100,000,000
Rata-rata Penjualan: 187.50 unit
Produk Terlaris: Smartphone